@model Supperxin.ListenNews.Models.NewsViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-12">
        @foreach (var dateCount in Model.Dates) {
            if (dateCount.Visited) {
            <a class="btn btn-success" asp-route-date="@dateCount.DateString">@dateCount.DateString <span class="badge">@dateCount.Count</span></a>
            } else {
            <a class="btn btn-light" asp-route-date="@dateCount.DateString">@dateCount.DateString <span class="badge">@dateCount.Count</span></a>
            }
        }
    </div>
</div>

@await Html.PartialAsync("_NewsListView", Model.News)

@section Scripts {
    <script>
        $('a#favorite').click(function(e){
            var ele = $(this);
            $.ajax({
                type: 'POST',
                url: '/api/Favorites',
                data: JSON.stringify(ele.data()),
                contentType: 'application/json',
                success:function(result){
                    if(result.status) {
                        ele.text(result.message);
                        ele.unbind('click');
                    }
                },
                error: function(jqXHR, textStatus, errorThrown){
                    if(jqXHR.status === 401) {
                        var currentUrl = window.location.href;
                        var location = jqXHR.getResponseHeader('Location');
                        var loginUrl = location.split('?')[0];
                        var targetUrl = loginUrl + '?ReturnUrl=' + encodeURIComponent(window.location.pathname + window.location.search);
                        window.location.href = targetUrl;
                    }
                }
            });
        })
    </script>
}
