@model Supperxin.ListenNews.Models.NewsViewModel

@{
    ViewData["Title"] = "Index";
    var index = 1;
}

<div class="row">
    <div class="col-12">
        @foreach (var dateCount in Model.Dates) {
            <a class="btn btn-light" asp-route-date="@dateCount.DateString">@dateCount.DateString <span class="badge">@dateCount.Count</span></a>
        }
    </div>
</div>


<div class="row">
    @foreach (var item in Model.News) {
        <div class="col-sm-12">
            <div class="card border-light">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <a class="text-dark" data-toggle="collapse" href="#@item.Source@item.Id"><span class="badge badge-light">@index</span> @item.Title</a>
                        </div>
                        <div class="col-sm-4 text-right">
                            <small>@item.Created.ToString("MM-dd")</small>
                            @if(@item.Favorited) {
                                <a class="text-dark" href="###" id="favorite" data-favorite-id="@item.FavoriteId" data-item-id="@item.Id" data-url="@item.Url">★</a>
                            } else {
                                <a class="text-dark" href="###" id="favorite" data-favorite-id="@item.FavoriteId" data-item-id="@item.Id" data-url="@item.Url">☆</a>
                            }
                            <a class="text-dark" href="@item.Url" target="_blank">原文</a>
                        </div>
                    </div>
                    <p class="card-text collapse" id="@item.Source@item.Id">@item.Content</p>
                </div>
            </div>
        </div>
        index++;
    }
</div>

@section Scripts {
    <script>
        $('a#favorite').click(function(e){
            var ele = $(this);
            $.ajax({
                type: 'POST',
                url: '/api/Favorites',
                data: JSON.stringify(ele.data()),
                contentType: 'application/json',
                success:function(result){
                    if(result.status) {
                        ele.text(result.message);
                        ele.unbind('click');
                    }
                },
                error: function(jqXHR, textStatus, errorThrown){
                    if(jqXHR.status === 401) {
                        var currentUrl = window.location.href;
                        var location = jqXHR.getResponseHeader('Location');
                        var loginUrl = location.split('?')[0];
                        var targetUrl = loginUrl + '?ReturnUrl=' + encodeURIComponent(window.location.pathname + window.location.search);
                        window.location.href = targetUrl;
                    }
                }
            });
        })
    </script>
}
