@model Supperxin.ListenNews.Models.NewsViewModel

@{
    ViewData["Title"] = "Index";
    var index = 1;
}

<div>
    @foreach (var dateCount in Model.Dates) {
        <a class="btn btn-light" asp-route-date="@dateCount.DateString">@dateCount.DateString <span class="badge">@dateCount.Count</span></a>
    }
</div>

<ul class="list-group list-group-flush">
    @foreach (var item in Model.News) {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a data-toggle="collapse" href="#@item.Source@item.Id"><span class="badge badge-light">@index</span> @item.Title</a>
            <span class="badge"><small>@item.Created.ToString("yyyy-MM-dd")</small> <a href="@item.Url" target="_blank">原文</a></span>
        </li>
        <div class="collapse" id="@item.Source@item.Id">
            <div class="card card-body">
                @item.Content
            </div>
        </div>
        index++;
    }
</ul>
